@import '../../utilities/utilities.scss';

form {
    box-shadow: 0px 6px 16px #75757529;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
}

input {
    border: none !important;

}
.city {
    border-left:  1px solid $gray !important;
}

.form__city {
    position: relative;
    .form__city--cities {
        position: absolute;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 0px 3px rgba($color: #000000, $alpha: 0.5);
        width: max-content;
        min-width: 100%;

        .item {
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
}

