@import '../../utilities/utilities.scss';

form {
    box-shadow: 0px 6px 16px #75757529;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
}

input {
    border: none !important;

}
.city {
    border-left:  1px solid $gray !important;
}

