@import '../../utilities/utilities.scss';

h2 {
    color: #7B1CB2;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 700 !important;
}
 h5 {
     color: $link;
     font-size: 17px !important;
 }
 .form-login {
    min-height: 100vh;
    background: rgb(177,45,253);
    background: linear-gradient(279deg, rgba(177,45,253,1) 0%, rgba(123,28,179,1) 100%);

 }

 .login-item {
     color: white;
     text-decoration: none;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     &:active {
         text-decoration: underline;
     }
     &:hover {
         color: white;
         text-decoration: underline;
     }
 }

 .register-item {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    &:active {
        text-decoration: underline;
    }
    &:hover {
        color: white;
        text-decoration: underline;
    }
 }

.login-form {
    background-color: $white;
    height: 100%;
   
    form {
        background-color: white;
    }
    a {
        color: $link;
    }
    input {
        background-color: whitesmoke;
        opacity: 0.5;
        margin-top: 15px;
        border: 1px solid #ced4da !important;
        height: 70px;
    }
    .form-check-input {
        height: 15px !important;
        margin-top: 5px;
    }
    .form-check-label {
        color: $link !important;
    }
    .btn-light {
        background-color: #fff !important;
    }
    .register {
        color: #B873E0;
        text-decoration: none;
    }
}